# Quercus macdougalli

## Denovo+referencia, Q. lobata 

### ipyrad

In [3]:
#Importar librerias
import ipyrad as ip

In [2]:
## Crear un objeto Ensamble llamado data1. 
data2 = ip.Assembly("data_qlobata")

New Assembly: data2

In [21]:
## setting/modifying parameters for this Assembly object
data2.set_params('project_dir', "../../data/ipyrad_qlobata_qmacdou)
data2.set_params('sorted_fastq_path', "/home/n311/Quercus/Campos_Project_002/fastq/*.fastq")
data2.set_params('assembly_method', "denovo+reference")
data2.set_params('reference_sequence', "/home/n311/Quercus/genoma_ref/Qlobata.v3.0.fasta")
data2.set_params('filter_adapters', 0)
data2.set_params('max_alleles_consens', 2)
data2.set_params('min_samples_locus', 2)

data2.set_params('datatype', 'ddrad')

## prints the parameters to the screen
data2.get_params()

0   assembly_name               data2
1   project_dir                 ./Quercus/quercus_macdougallii_qlobata
2   raw_fastq_path
3   barcodes_path
4   sorted_fastq_path           ./Quercus/Campos_Project_002/fastq/*.fastq
5   assembly_method             denovo+reference
6   reference_sequence          ./Quercus/genoma_ref/Qlobata.v3.0.fasta
7   datatype                    ddrad
8   restriction_overhang        ('TGCAG', '')
9   max_low_qual_bases          5
10  phred_Qscore_offset         33
11  mindepth_statistical        6
12  mindepth_majrule            6
13  maxdepth                    10000
14  clust_threshold             0.85
15  max_barcode_mismatch        0
16  filter_adapters             0
17  filter_min_trim_len         35
18  max_alleles_consens         2
19  max_Ns_consens              (5, 5)
20  max_Hs_consens              (8, 8)
21  min_samples_locus           2
22  max_SNPs_locus              (20, 20)
23  max_Indels_locus            (8, 8)
24  max_shared_Hs_locus         0.5
25  trim_reads                  (0, 0, 0, 0)
26  trim_loci                   (0, 0, 0, 0)
27  output_formats              ['p', 's', 'v']
28  pop_assign_file

Paso 1:

In [5]:
## run step 1 to create Samples objects
data2.run("1")

Assembly: data2
[####################] 100%  loading reads         | 0:00:02 | s1 |

In [10]:
data2.stats

,state,reads_raw,reads_passed_filter,refseq_mapped_reads,refseq_unmapped_reads,clusters_total,clusters_hidepth,hetero_est,error_est
QM10_S437001,4,4120245,4119152,2411128,285123,151217,24425,0.048903,0.015510
QM9_S436001,4,5044646,5043189,2830727,681499,211069,16477,0.030829,0.016193

Paso 2: Filtrado

In [6]:
## run step 2 to create Samples objects
data2.run("2")

Assembly: data2
[####################] 100%  processing reads      | 0:03:57 | s2 |

In [11]:
data2.stats

,state,reads_raw,reads_passed_filter,refseq_mapped_reads,refseq_unmapped_reads,clusters_total,clusters_hidepth,hetero_est,error_est
QM10_S437001,4,4120245,4119152,2411128,285123,151217,24425,0.048903,0.015510
QM9_S436001,4,5044646,5043189,2830727,681499,211069,16477,0.030829,0.016193

Paso 3: Agrupamiento y mapeo a genoma de referencia

In [7]:
## run step 3
data2.run("3")

Assembly: data2
[####################] 100%  indexing reference    | 0:15:38 | s3 |
[####################] 100%  dereplicating         | 0:00:35 | s3 |
[####################] 100%  mapping               | 0:40:43 | s3 |
[####################] 100%  clustering            | 0:45:38 | s3 |
[####################] 100%  building clusters     | 0:00:47 | s3 |
[####################] 100%  fetch mapped reads    | 0:03:12 | s3 |
[####################] 100%  chunking              | 0:00:23 | s3 |
[####################] 100%  aligning              | 3:31:57 | s3 |
[####################] 100%  concatenating         | 0:00:52 | s3 |

In [8]:
## run step 4
data2.run("4")

Assembly: data2
[####################] 100%  inferring [H, E]      | 0:02:07 | s4 |

In [16]:
data2.run("5")

Assembly: data2
[####################] 100%  calculating depths    | 0:00:06 | s5 |
[####################] 100%  chunking clusters     | 0:00:06 | s5 |
[####################] 100%  consens calling       | 0:07:26 | s5 |

In [17]:
data2.stats

,state,reads_raw,reads_passed_filter,refseq_mapped_reads,refseq_unmapped_reads,clusters_total,clusters_hidepth,hetero_est,error_est,reads_consens
QM10_S437001,5,4120245,4119152,2411128,285123,151217,24425,0.048903,0.015510,10289
QM9_S436001,5,5044646,5043189,2830727,681499,211069,16477,0.030829,0.016193,6862

In [18]:
data2.run("6")

Assembly: data2
[####################] 100%  concat/shuffle input  | 0:00:00 | s6 |
[####################] 100%  clustering across     | 0:00:02 | s6 |
[####################] 100%  building clusters     | 0:00:00 | s6 |
[####################] 100%  aligning clusters     | 0:00:01 | s6 |
[####################] 100%  database indels       | 0:00:00 | s6 |
[####################] 100%  indexing clusters     | 0:00:03 | s6 |
[####################] 100%  building database     | 0:00:00 | s6 |

In [19]:
data2.stats

,state,reads_raw,reads_passed_filter,refseq_mapped_reads,refseq_unmapped_reads,clusters_total,clusters_hidepth,hetero_est,error_est,reads_consens
QM10_S437001,6,4120245,4119152,2411128,285123,151217,24425,0.048903,0.015510,10289
QM9_S436001,6,5044646,5043189,2830727,681499,211069,16477,0.030829,0.016193,6862

In [24]:
data2.run("7", force=True)

Assembly: data2
[####################] 100%  filtering loci        | 0:00:00 | s7 |
[####################] 100%  building loci/stats   | 0:00:00 | s7 |
[####################] 100%  building vcf file     | 0:00:02 | s7 |
[####################] 100%  writing vcf file      | 0:00:00 | s7 |
[####################] 100%  building arrays       | 0:00:00 | s7 |
[####################] 100%  writing outfiles      | 0:00:00 | s7 |
Outfiles written to: ~/Quercus/quercus_macdougallii_qlobata/data2_outfiles

In [25]:
data2.stats

,state,reads_raw,reads_passed_filter,refseq_mapped_reads,refseq_unmapped_reads,clusters_total,clusters_hidepth,hetero_est,error_est,reads_consens
QM10_S437001,6,4120245,4119152,2411128,285123,151217,24425,0.048903,0.015510,10289
QM9_S436001,6,5044646,5043189,2830727,681499,211069,16477,0.030829,0.016193,6862